%meta{:name => "twitter:card", :value => "summary"}

%meta{:content => page_title, :property => "og:title"}/
%meta{:content => home_page? ? 'website' : 'article', :property => "og:type"}/
%meta{:content => current_page_url, :property => "og:url"}/
%meta{:content => gravatar(128), :property => "og:image"}/
%meta{:content => page_description, :property => "og:description"}/
