---
pageable: true
per_page: 6
cover: home-cover.jpg
description: Samnang is a software craftsman and freelance web developer living in Phnom Penh, Cambodia.
---

%header.main-header{cover}
  %nav.main-nav.overlay.clearfix
    - if blog_settings.navigation
      %a.nav-button.menu-button.icon-menu{href: '#'}
        %span.word Menu
  .vertical
    .main-header-content.inner
      %h1.page-title= blog_settings.name
      %h2.page-description= blog_settings.description
  %a.scroll-down.icon-arrow-left{href: '#content', data: {offset: '-45'}}
    %span.hidden Scroll Down

%main#content.content{role: :main}
  = partial(:page_articles,
            locals: { page_articles: page_articles, paginate: paginate })
