---
pageable: true
per_page: 6
---

%header.main-header.tag-head{cover}
  %nav.main-nav.overlay.clearfix
    %a.nav-button.back-button.icon-arrow-left{href: home_path}
      %span.word Back
    - if blog_settings.navigation
      %a.nav-button.menu-button.icon-menu{href: '#'}
        %span.word Menu
  .vertical
    .main-header-content.inner
      %h1.page-title= tagname
      %h2.page-description A #{page_articles.count}-post collection

%main#content.content{role: :main}
  = partial(:page_articles,
            locals: { page_articles: page_articles, paginate: paginate })
